<section class="header">
       <div class="container">
           <div class="header-content">
               <a href="#" class="logo">
                   <H3>LEXIPAC</H3>
               </a>
               <div class="header-content-menu">
                   <ul>
                       <li><a href="#">About</a></li>
                       <li><a href="#">Services</a></li>
                       <li><a href="#">Practice Areas</a></li>
                       <li><a href="#">Contact</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </section>