{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAY-R IPAC | HOME</title>
    <meta property="og:title" content="JAY-R IPAC | HOME">
  <meta property="og:description" content="Jayr is currently a Partner at one of the leading law firms in the Philippines. His practice areas include intellectual property, data privacy / protection, cybercrime, e-commerce law, tech contracts review, financial technology, corporate and criminal litigation, and regulatory intersections of law and technology">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:image" content="{% static 'images/weblogo.png' %}">
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "JAY-R IPAC",
  "url": "https://jayripac.com",
  "logo": "https://jayripac.com/static/images/weblogo.png"
}
</script>
  <link rel="icon" type="image/png" href="{% static 'images/weblogo.png' %}">
</head>
<body>
      {% include "myapp/header.html" %}
      {% include "myapp/slideshow.html" %}
 {% include "myapp/vlogs.html" %}
  {% include "myapp/quotes.html" %}
    {% include "myapp/footer.html" %}
</body>

</html>